<h1>Fiches Prévention</h1>
<ul>
<li><%= link_to "Diarrhée", prevention_path(@disease) %></li>
<li><%= link_to "Fièvre", prevention_path(@disease) %></li>
<li><%= link_to "Bronchiolite", prevention_path(@disease) %></li>
<li><%= link_to "Gastro-Entérite", prevention_path(@disease) %></li>
<li><%= link_to "Brûlures", prevention_path(@disease) %></li>
</ul>



<footer>
	<div id="navbar-contenair">
		<div class="icon_name">
		<i class="fas fa-home"></i>
		<%= link_to "Home", root_path, class: "link-footer" %>
		</div>
		<div class="icon_name">
		<i class="far fa-user-circle"></i>
		<%= link_to "Profil", profil_path, class: "link-footer" %>
		</div>
		<div class="icon_name">
		<i class="fas fa-book-open"></i>
		<%= link_to "Préventions", diseases_path, class: "link-footer" %>
		</div>
	</div>
</footer>