
<div class="container">
	<div class="chiante">
	<a href="tel:15" class="a-link-secours">En cas de doute ou d'urgence vitale appelez le 15 ici !</a>
	</div>
	<div class=" d-flex justify-content-end">
		<%= link_to "Précédent", :back, class: "btn btn-outline-primary-precedent" %>
	</div>
	<div class="container-card px-4 py-3 ">
		<h1 class="d-flex justify-content-center"><%= @disease.name %>: Ce qu'il faut savoir</h1>
		<p><%= raw @disease.need_know %></p>
	</div>
	<footer>
		<div id="navbar-contenair">
			<div class="icon_name">
			<i class="fas fa-home"></i>
			<%= link_to "Home", root_path, class: "link-footer" %>
			</div>
			<div class="icon_name">
			<i class="far fa-user-circle"></i>
			<%= link_to "Profil", profil_path, class: "link-footer" %>
			</div>
			<div class="icon_name">
			<i class="fas fa-book-open"></i>
			<%= link_to "Index", diseases_path, class: "link-footer" %>
			</div>
		</div>
	</footer>
</div>