<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Diag non urgent", diseases_path %>
<%= link_to "Urgence Enfants !", new_urgence_path %>
<%= link_to "Connection", profil_path %>

=======
>>>>>>> b41c93f9c8a8d28e0df561fb83e1098a0e63d758

<div class="ellipse-background">
	<%= image_tag "background.png", class: "image-home" %>
</div>
<div class="btn-placement">
<%= link_to "Urgence Enfants !", new_urgence_path, class: "btn-home-1" %>
</div>
<div class="ellipse-background-return">
	<%= link_to "Connection", profil_path, class: "btn-home" %>
</div>

