<ul>
<li><%= current_user.first_name %></li>
<li><%= current_user.last_name %></li>
<li><%= current_user.email %></li>
</ul>
<ul>
<% @children.each do |child| %>
 <li><%= child.first_name %></li>
 <li><%= child.birth_date %></li>
 <li><%= child.weight %></li>
 <li>Cardiac <%= child.cardiac %></li>
 <li>Respiratory <%= child.respiratory %></li>
 <li>Prematurity <%= child.prematurity %></li>
 <li> <%= link_to "ðŸ–", edit_child_path(child) %></li>
 <li> <%= link_to "ðŸ—‘", child, method: :delete, data: { confirm: "Are you sure ?" } %></li>
<% end %>
</ul>

<%= link_to "Create a child", new_child_path %>