<div id="map"
     style="width: 80%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>"></div>
<footer>
<h2>Trouvez l'hôpital le plus proche de vous.</h2>
	<div id="navbar-contenair">
		<div class="icon_name">
		<i class="fas fa-home"></i>
		<%= link_to "Home", root_path, class: "link-footer" %>
		</div>
		<div class="icon_name">
		<i class="far fa-user-circle"></i>
		<%= link_to "Profil", profil_path, class: "link-footer" %>
		</div>
		<div class="icon_name">
		<i class="fas fa-book-open"></i>
		<%= link_to "Préventions", diseases_path, class: "link-footer" %>
		</div>
	</div>
</footer>